[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/vim-bufferline"]
	path = vim/bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/bundle/vim-tabular"]
	path = vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-bbye"]
	path = vim/bundle/vim-bbye
	url = https://github.com/moll/vim-bbye.git
[submodule "vim/bundle/hexmode"]
	path = vim/bundle/hexmode
	url = https://github.com/fidian/hexmode.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-openscad"]
	path = vim/bundle/vim-openscad
	url = https://github.com/sirtaj/vim-openscad.git
[submodule "vim/bundle/nui.nvim"]
	path = vim/bundle/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "vim/bundle/plenary.nvim"]
	path = vim/bundle/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "vim/bundle/CodeGPT.nvim"]
	path = vim/bundle/CodeGPT.nvim
	url = https://github.com/dpayne/CodeGPT.nvim
